{% if groceryitem %}
    <h1>{{groceryitem.item_name}}</h1>
    <ul>
        <li>
            category: {{groceryitem.category}}
        </li>
        <li>
            status: {{groceryitem.status}}
        </li>
        <li>
            date_created: {{groceryitem.date_created}}
        </li>
    </ul>
{% else %}
    <h1>Grocery Item Not Found</h1>
{% endif %}